<!-- {% if form.errors %}
<p>your username and password didn't matched.</p>
{% endif %} -->
{% include "percel/base.html" %}
{% load bootstrap4 %}

{% block content %}
<h2>Log into your account</h2>

<form method="POST" action="{% url 'percel:login' %}" class="form">
    {% csrf_token %}

    {% bootstrap_form form %}
    {% buttons %}
    <button name="submit" class="btn btn-primary">Log in</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'percel:order' %}" />
</form>

{% endblock content %}